body {
    font-family: "Arial", Serif;
    background-color: #f4f4f4;
    overflow-x: hidden;
}

.navbar {
  background-color: #C75B12;
  overflow:hidden;
  height: 63px;
}

.navbar a{
  float: left;
  display:block;
  color:#f2f2f2;
  text-align: center;
  padding:14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar ul {
  padding: 8px 0 0 0;
  list-style: none;
}

.navbar a:hover {
  background-color: #ddd;
  color:#000;
}
.search-view {
  position: fixed;
  width:100%;
  height:200px;
  background-color: #F1F8FF;
}

.list-book {
  margin-top: 0.7%;
  margin-left: 2%;
  width: 40%;
  border: 3px solid #079AAC;
  padding:0.7%;
  color:#079AAC;
}

.search-book {
  margin-top: 50px;
  width: 99%;
  height:80px;
  background-color: #ffffff;
  border: 1px solid #079AAC;
}

.search-box {
  width: 56%;
  height:40px;
  border: 3px solid #079AAC;
}

.browse-btn {
  background-color:#C75B12;
  color:#ffffff;
  width:4%;
  height:15%;
}

.display-results {
  position:fixed;
  margin-top:10.7%;
  height:  90%;
  width: 99%;
  background-color: #F1FED3;
}

hr {
  background-color: #C75B12;
  border:0px;
  height: 5px;
  margin-top: 0px
}

.table-list {
  padding-left:5.3%;
  color:	 #808080;
  padding-top: 1%;
  padding-bottom: 3.5%;
}

th {
  color:#C75B12;
}

table {
  width:90%;
  border-spacing:10px;
}

.reserve-btn {
  text-decoration: none;
  width:80px;
  padding: 5px;
  background-color: #079AAC;
  color: white;
  border-radius: 9px;
  height:40px;

}

span {
  color: #808080;
}
