
#index-bg {
  background-color:#F1FED3;
}

h1 {
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
}

.wrapper {
  width: 100%;
  height:240vh;

}

#book-container{
  position: relative;
   margin-top: 3%;
   width: 55%;
   height: 750px;
   float: left;
}


.form-container{
   background-repeat: no-repeat;
   width: 50%;
   height: 850px;
   margin-top: 41.1%;
   position: absolute;
   margin-left: 26%;
}

.left-container {
  width: 20%;
  height: 850px;
  margin-top: 41.1%;
  position: absolute;
}

.right-container {
  background-repeat: no-repeat;
  height: 850px;
  margin-top: 41.1%;
  position: absolute;
  margin-left: 60%;
}
.bottom-container {
  width: 98%;
  height: 650px;
  margin-top: 87%;
  position: absolute;

}

.header {
  top:0;
  position: absolute;
  background-color: brown;
  width:100%;
  height:52px;
  border-color: #800000;
  border-style: solid;
  border-width: 5px;
}

.phoneix {
  margin-top: 20%;
  margin-left: 10%;
}

.divergent {
  width: 100%;
  height: 90%;
}

.btm-img-1 {
  margin
    background-repeat: no-repeat;
    width: 31%;
}

.btm-img-2 {
  background-repeat: no-repeat;
  width: 35%;
  margin-left: 3%;
}

.btm-img-3 {
  background-repeat: no-repeat;
  width: 18%;
  margin-left: 5%;
}

#contact-form {
  background-color:#8b351d;
  width:100%;
  height:550px;
}



footer {
  width: 100%;
  background-color: #45261d;
  height:600px;
}
